.wrapperTopCar {
	background-color: #f0e4df;
}
.wrapperBlockTopCar {
	width: 1440px;
	margin: auto;
}

.topCarTitle {
	font-size: 45px;
	text-align: center;
	padding-top: 50px;
	color: #353434;
}

.blockImageText {
	margin-top: 40px;
	flex-wrap: wrap;
}

.imageTopCar {
	width: 400px;
	height: auto;
	transition: transform 0.5s ease;
	border-radius: 20px;
}

.imageBlock {
	align-items: end;
	width: 600px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}
.blockImage {
	display: flex;
	width: 400px;
	overflow: hidden;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
}
.imageTopCar:hover {
	transform: scale(1.2);
}
.imageTopCarBig:hover {
	transform: scale(1.2);
}
.wrapperBlockIconImage {
	display: flex;
	align-items: end;
	justify-content: space-between;
}
.wrapperBlockIconImageTwo {
	display: flex;
	margin-top: 20px;
	align-items: start;
	justify-content: space-between;
}
.imageTopCarBig {
	width: 600px;
	border-radius: 20px;
	transition: transform 0.5s ease;
	height: auto;
	cursor: pointer;
}

.iconRight {
	z-index: 20;
	position: absolute;
	bottom: 20spx;
	background-color: #f0e4df;
	width: 30px !important;
	height: 30px !important;
	border-radius: 20px;
	right: 20px;
	bottom: 20px;
}

.carText {
	position: absolute;
	left: 20px;
	font-size: 20px;
	font-weight: 700;
	color: #f0e4df;
	bottom: 20px;
	z-index: 20;
}

@media screen and (max-width: 1140px) {
	.blockImageText {
		width: 1140px;
		margin: auto;
	}
	.imageTopCarBig {
		width: 400px;
		border-radius: 20px;
		transition: transform 0.5s ease;
		height: auto;
		cursor: pointer;
	}
	.blockImage {
		display: flex;
		width: 260px;
		overflow: hidden;
		border-radius: 20px;
		position: relative;
		cursor: pointer;
	}

	.imageTopCar {
		width: 300px;
		height: auto;
		transition: transform 0.5s ease;
		border-radius: 20px;
	}

	.imageBlock {
		align-items: end;
		width: 400px;
		border-radius: 20px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
	}
}
