.logoBorder {
	display: flex;
	align-items: center;
	text-decoration: none;
}

.wrapperlogo_border {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logoHeader {
	width: 100px;
}

.borderVertikal {
	border-right: 3px solid #facd00;
	width: 1px;
	height: 80px;
	margin-left: 30px;
}

.logoDD {
	font-size: 70px;
	margin-left: 30px;
	color: #facd00;
}

.logoTitle {
	font-size: 35px;
	color: #facd00;
}

.wrapper_dataCompany {
	color: white;
	display: flex;
}

.keys {
	margin-left: 60px;
	font-size: 17px;
	font-weight: 700;
}
