.protectionTitle {
	color: #dbcbc3;
	margin-top: 40px;
	font-size: 28px;
}
.protectionBorder {
	display: flex;
	margin-top: 10px;
	margin-bottom: 30px;
}
.protectionBorderViolet {
	border-bottom: 1px solid #facd00;
	width: 50px;
}
.protectionBorderGrey {
	border-bottom: 1px solid #8d8d8d;
	width: 100%;
	margin-left: 10px;
}

.Cards {
	display: flex;
	justify-content: space-between;
}

.cardTitle {
	font-size: 20px;
	margin-top: 13px;
	color: #dbcbc3;
}
.wrapperImage {
	width: 400px;
	height: 283px;

	overflow: hidden;
	border-radius: 30px;
}
.cardImage {
	width: 400px;
	height: 100%;
	transition: transform 0.5s ease;
	border-radius: 30px;
	cursor: pointer;
}

.cardImage:hover {
	transform: scale(1.2);
}
