.carImage {
	position: relative;
	background: url('https://static.tildacdn.com/tild6231-3365-4135-a131-383136653765/2.jpg');
	background-size: cover;
	height: 100vh; /* Поддерживает пропорции изображения */
	object-fit: cover;
	background-position: center;
	position: relative;
}
.carImage::after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 40%; /* Высота градиента от нижней части изображения */
	background: linear-gradient(to top, rgb(0, 0, 0) 0%, transparent 100%);
	z-index: 2; /* Градиент поверх изображения и тени */
}
.shadowLayer {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.5); /* Черная тень с прозрачностью 50% */
	z-index: 0; /* Тень под контентом, но над изображением */
}

.carContent {
	width: 1440px;
	margin: auto;
	position: relative;
	z-index: 1; /* Гарантирует, что контент будет виден поверх тени */
}
.contentCooper {
	position: absolute;
}
.titleCooper {
	font-size: 24px;
	color: #dbcbc3;
	font-weight: 700;
}
.recoveryBorder {
	display: flex;
	margin-top: 10px;
	margin-bottom: 30px;
	opacity: 0.6;
}

.recoveryBorderViolet {
	border-bottom: 1px solid #facd00;
	width: 50px;
}
.recoveryBorderGrey {
	border-bottom: 1px solid #8d8d8d;
	width: 100%;
	margin-left: 10px;
}

.colorCooper {
	font-size: 78px;
	font-weight: 700;
	width: 900px;
	color: #dbcbc3;
	position: relative;
	display: flex;
}

.btnCooper {
	background-color: transparent;
	position: absolute;
	right: 0;
	bottom: 0;
	text-align: center;
	border: none;
	width: 200px;
	border-radius: 60px;
	padding: 20px;
	font-size: 20px;
	color: white;
	cursor: pointer;
	border: 1px solid #facd00;
	transition: 0.5s;
}

.btnCooper:hover {
	background-color: #facd00;
	transition: 0.5s;
}

.beforeAfterImage {
	width: 1440px;
	margin: 40px auto;
}

.imageBeforeAfter {
	height: 1100px;
}

.workTitle {
	font-size: 48px;
	color: #dbcbc3;
}
.completedWork {
	width: 1440px;
	margin: auto;
}
.wrapperWorks {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.works {
	color: #645d59;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 330px;
}
.borderWork {
	border-bottom: 1px solid gray;
	opacity: 0.4;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
}

.text {
	color: #d9c9c1;
	font-size: 20px;
}

.carousel {
	margin-bottom: 20px;
}

.wrapperCarousel {
	width: 900px;
	margin: auto;
	border-radius: 40px;
}
.imageCarousel {
	background-image: url('https://optim.tildacdn.com/tild3965-3835-4466-b830-363366393337/-/format/webp/Rectangle_1743.png');
	background-size: cover;
	object-fit: cover;
	background-position: center;
	padding-bottom: 40px;
}
